@charset "UTF-8";
.formulario-contacto .titulo-contacto, .contenedor-imagenes-dos, .contenedor-imagenes-uno, .youtube, .carrusel-instagram .contenedor-carrusel, .carrusel-instagram .carrusel-titulo, .contenedor-articulos, .contenedor-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------Carrusel de Imagenes-------------*/
.deslizador {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
@media only screen and (max-width: 513px) {
  .deslizador {
    display: none;
  }
}

.deslizador-mobile {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .deslizador-mobile {
    display: none;
  }
}
@media only screen and (min-width: 961px) {
  .deslizador-mobile {
    display: none;
  }
}

.imagen-carrusel {
  width: 100%;
}

.carrusel {
  display: flex;
  padding: 0px;
  width: 400%;
  animation: carrusel 15s linear infinite alternate;
}
.carrusel li {
  width: 100%;
}

@keyframes carrusel {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*-----------Sección de Acceso al Shop---------*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 200px;
  margin-right: 200px;
  column-gap: 50px;
}
.grid-container .primer-item {
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: start;
}
.grid-container .primer-item img {
  width: 450px;
}
@media only screen and (max-width: 513px) {
  .grid-container .primer-item {
    display: flex;
    justify-content: center;
  }
  .grid-container .primer-item img {
    width: 370px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .grid-container .primer-item {
    display: flex;
    justify-content: center;
  }
  .grid-container .primer-item img {
    width: 450px;
  }
}
.grid-container .segundo-item {
  margin-left: 35px;
  letter-spacing: 2px;
}
.grid-container .segundo-item .titulo-item {
  font-weight: 800;
  font-size: 50px;
}
@media only screen and (max-width: 513px) {
  .grid-container .segundo-item .titulo-item {
    font-weight: 800;
    font-size: 35px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .grid-container .segundo-item .titulo-item {
    font-weight: 800;
    font-size: 35px;
  }
}
@media only screen and (max-width: 513px) {
  .grid-container .segundo-item {
    margin-left: 50px;
    margin-top: 60px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 700px) {
  .grid-container .segundo-item {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 960px) {
  .grid-container .segundo-item {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .grid-container .segundo-item {
    margin-left: 0px;
  }
}
.grid-container .parrafo-segundo-item {
  font-size: 20px;
  margin-top: 20px;
  line-height: 30px;
}
@media only screen and (max-width: 513px) {
  .grid-container .parrafo-segundo-item {
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .grid-container .parrafo-segundo-item {
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 400;
  }
}
.grid-container .tercer-item {
  grid-row-start: 2;
  grid-row-end: 4;
  justify-self: end;
}
.grid-container .tercer-item img {
  width: 450px;
}
@media only screen and (max-width: 513px) {
  .grid-container .tercer-item {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  .grid-container .tercer-item img {
    width: 370px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .grid-container .tercer-item {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
}
.grid-container .cuarto-item {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-right: 30px;
  margin-top: 31px;
}
@media only screen and (max-width: 513px) {
  .grid-container .cuarto-item {
    font-size: 0.9rem;
    line-height: 27px;
    letter-spacing: 2px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .grid-container .cuarto-item {
    font-size: 0.9rem;
    line-height: 27px;
    letter-spacing: 2px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .grid-container .cuarto-item {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 513px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .grid-container {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 120px;
    margin-right: 200px;
    column-gap: 50px;
  }
}

/*---------------------- Colección ---------------------*/
.contenedor-1 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #F7DFE2;
}
.contenedor-1 img {
  width: 720px;
}
@media only screen and (max-width: 513px) {
  .contenedor-1 img {
    width: 515px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-1 img {
    width: 910px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .contenedor-1 img {
    width: 620px;
    margin-left: 0px;
    padding: 30px;
  }
}
.contenedor-1 .contenedor-parrafo-1 {
  margin-left: 60px;
  margin-right: 50px;
}
.contenedor-1 .contenedor-parrafo-1 .subtitulo-coleccion-1 {
  font-weight: 700;
  font-size: 0.9rem;
  color: #2052BB;
  letter-spacing: 2px;
}
@media only screen and (max-width: 513px) {
  .contenedor-1 .contenedor-parrafo-1 .subtitulo-coleccion-1 {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-1 .contenedor-parrafo-1 .subtitulo-coleccion-1 {
    margin-top: 70px;
  }
}
.contenedor-1 .contenedor-parrafo-1 .titulo-coleccion-1 {
  font-weight: 800;
  font-size: 2.1rem;
  color: black;
  letter-spacing: 2px;
}
@media only screen and (max-width: 513px) {
  .contenedor-1 .contenedor-parrafo-1 .titulo-coleccion-1 {
    font-size: 1.7rem;
    font-weight: 800;
  }
}
.contenedor-1 .contenedor-parrafo-1 .parrafo-coleccion-1 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}
@media only screen and (max-width: 513px) {
  .contenedor-1 .contenedor-parrafo-1 {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-1 .contenedor-parrafo-1 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 513px) {
  .contenedor-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7DFE2;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7DFE2;
  }
}

.contenedor-2 {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #F7DFE2;
}
.contenedor-2 img {
  width: 720px;
  margin-left: 60px;
}
@media only screen and (max-width: 513px) {
  .contenedor-2 img {
    width: 515px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-2 img {
    width: 910px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .contenedor-2 img {
    width: 620px;
    padding: 30px;
  }
}
.contenedor-2 .contenedor-parrafo-2 {
  margin-left: 60px;
  margin-right: 50px;
}
.contenedor-2 .contenedor-parrafo-2 .subtitulo-coleccion-2 {
  font-weight: 700;
  font-size: 0.9rem;
  color: #2052BB;
  letter-spacing: 2px;
}
@media only screen and (max-width: 513px) {
  .contenedor-2 .contenedor-parrafo-2 .subtitulo-coleccion-2 {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-2 .contenedor-parrafo-2 .subtitulo-coleccion-2 {
    margin-top: 70px;
  }
}
.contenedor-2 .contenedor-parrafo-2 .titulo-coleccion-2 {
  font-weight: 800;
  font-size: 2.1rem;
  color: black;
  letter-spacing: 2px;
}
.contenedor-2 .contenedor-parrafo-2 .parrafo-coleccion-2 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}
@media only screen and (max-width: 513px) {
  .contenedor-2 .contenedor-parrafo-2 {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-2 .contenedor-parrafo-2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 513px) {
  .contenedor-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #F7DFE2;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #F7DFE2;
  }
}

/*---------------------- Categoría de Productos------------------*/
.categoria-productos-subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-weight: 500;
  font-size: 12px;
  color: #2052BB;
  letter-spacing: 1px;
}
@media only screen and (max-width: 513px) {
  .categoria-productos-subtitulo {
    margin-top: 150px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .categoria-productos-subtitulo {
    margin-top: 90px;
  }
}

.categoria-productos-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 30px;
  color: black;
  letter-spacing: 2px;
}
@media only screen and (max-width: 513px) {
  .categoria-productos-titulo {
    font-weight: 800;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 150px;
    margin-left: 100px;
    font-size: 35px;
  }
}

.carrusel-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 100px;
}
.carrusel-productos img {
  width: 250px;
  height: 250px;
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .carrusel-productos img {
    width: 370px;
    height: 370px;
    margin: 15px;
  }
}
@media only screen and (max-width: 513px) {
  .carrusel-productos {
    display: none;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .carrusel-productos .img-accesorios {
    display: none;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .carrusel-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 513px) {
  .carrousel-bootstrap {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .carrousel-bootstrap {
    display: none;
  }
}
@media only screen and (min-width: 961px) {
  .carrousel-bootstrap {
    display: none;
  }
}

/*----------------------Nuevos Ingresos------------------*/
.contenedor-titulo {
  letter-spacing: 3px;
  background-color: #2052BB;
  color: white;
  padding-top: 17px;
  padding-bottom: 10px;
}
.contenedor-titulo h4 {
  font-size: 1rem;
  font-weight: 700;
}

.contenedor-articulos {
  background-color: #F7DFE2;
  padding-top: 100px;
  padding-bottom: 30px;
  color: white;
  font-size: 0.8rem;
}
.contenedor-articulos .imagen-producto {
  width: 300px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}
@media only screen and (max-width: 513px) {
  .contenedor-articulos .imagen-producto {
    width: 280px;
    height: auto;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-articulos .imagen-producto {
    width: 350px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
}
.contenedor-articulos .nombre-articulo {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  color: black;
}
@media only screen and (max-width: 513px) {
  .contenedor-articulos .nombre-articulo {
    margin-bottom: 5px;
  }
}
.contenedor-articulos .precio-articulo {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  color: #BF2626;
}
@media only screen and (max-width: 513px) {
  .contenedor-articulos .precio-articulo {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 513px) {
  .contenedor-articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ver-todos {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  background-color: #F7DFE2;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  padding-bottom: 90px;
}
.ver-todos img {
  width: 140px;
  height: auto;
}

/*----------------------Carrusel Instagram------------------*/
.carrusel-instagram .carrusel-titulo {
  letter-spacing: 3px;
  margin-top: 13px;
  font-weight: 600;
  font-size: 0.7rem;
  text-align: center;
  color: #2052BB;
}
.carrusel-instagram .contenedor-carrusel {
  width: 100%;
}
.carrusel-instagram .contenedor-carrusel .item-carrusel {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 23px;
}
@media only screen and (max-width: 513px) {
  .carrusel-instagram .contenedor-carrusel .item-carrusel {
    width: 100px;
    height: 100px;
    margin-left: 3px;
    margin-right: 3px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .carrusel-instagram .contenedor-carrusel .item-carrusel {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .carrusel-instagram .contenedor-carrusel .item-carrusel {
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
}

/*----------------------Enlace a YouTube------------------*/
.youtube {
  margin-top: 150px;
  margin-bottom: 150px;
}
@media only screen and (max-width: 513px) {
  .youtube {
    display: none;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

/*----------------------- Shop ----------------------*/
.portada img {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 499px) {
  .portada {
    display: none;
  }
}

.portada-mobile img {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 500px) {
  .portada-mobile {
    display: none;
  }
}

.shop {
  display: flex;
  justify-content: space-between;
}
.shop .categorias {
  margin-top: 50px;
  margin-left: 20px;
  list-style: none;
  letter-spacing: 2px;
  line-height: 23px;
  font-size: 0.8rem;
  text-decoration: none;
}
.shop .categorias ul {
  list-style: none;
}
.shop .categorias .subcategorias {
  color: white;
  background-color: #2052BB;
  font-weight: 600;
  font-size: 0.7rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 300px) and (max-width: 699px) {
  .shop .categorias .subcategorias {
    margin-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.shop .categorias .subcategoria-2 {
  color: #BF2626;
  text-decoration: none;
  margin-left: 20px;
  line-height: 30px;
}
.shop .grid-container-shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 120px;
  margin-right: 60px;
  margin-left: 0;
  gap: 40px;
}
.shop .grid-container-shop .grid-item-shop {
  border: #2052BB dotted 1px;
  margin-bottom: 20px;
}
.shop .grid-container-shop .grid-item-shop img {
  margin-top: 20px;
  width: 250px;
  background-color: white;
  padding: 10px;
}
@media only screen and (min-width: 850px) and (max-width: 919px) {
  .shop .grid-container-shop .grid-item-shop img {
    width: 450px;
  }
}
@media only screen and (min-width: 750px) and (max-width: 849px) {
  .shop .grid-container-shop .grid-item-shop img {
    width: 350px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 749px) {
  .shop .grid-container-shop .grid-item-shop img {
    width: 250px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 699px) {
  .shop .grid-container-shop .grid-item-shop img {
    width: 400px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 499px) {
  .shop .grid-container-shop .grid-item-shop img {
    width: 350px;
  }
}
.shop .grid-container-shop .grid-item-shop .imagen-producto:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.shop .grid-container-shop .grid-item-shop .nombre-articulo {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: black;
}
.shop .grid-container-shop .grid-item-shop .precio-articulo {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  color: #BF2626;
}
@media only screen and (min-width: 300px) and (max-width: 749px) {
  .shop .grid-container-shop .grid-item-shop {
    margin-left: 60px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 920px) and (max-width: 1200px) {
  .shop .grid-container-shop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 919px) {
  .shop .grid-container-shop {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media only screen and (min-width: 300px) and (max-width: 699px) {
  .shop {
    display: flex;
    flex-direction: column;
  }
}

.numeracion-paginas {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: 14px;
  margin-left: 350px;
  list-style: none;
}
.numeracion-paginas li {
  margin-left: 7px;
}
@media only screen and (min-width: 300px) and (max-width: 749px) {
  .numeracion-paginas {
    margin-left: 0px;
  }
}

/*------------------------- Quiénes Somos ------------------------*/
.contenedor-imagenes-uno {
  margin-top: 100px;
}
.contenedor-imagenes-uno img {
  width: 500px;
  margin-left: 5px;
}
@media only screen and (max-width: 513px) {
  .contenedor-imagenes-uno img {
    width: 350px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-imagenes-uno img {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 513px) {
  .contenedor-imagenes-uno {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-imagenes-uno {
    display: flex;
    flex-direction: column;
  }
}

.cita {
  letter-spacing: 2px;
  font-size: 20px;
  padding: 80px;
  margin-left: 380px;
  margin-right: 380px;
  margin-top: 10px;
  text-align: center;
  color: #2052BB;
}
.cita .pie-cita {
  margin-top: 30px;
  letter-spacing: 1px;
  font-size: 0.8rem;
  text-align: center;
  color: #FF6602;
}
@media only screen and (max-width: 513px) {
  .cita {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .cita {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .cita {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.parrafo-quienes-somos {
  margin-left: 220px;
  margin-right: 220px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 23px;
}
.parrafo-quienes-somos .segundo-parrafo {
  margin-top: 25px;
}
@media only screen and (max-width: 513px) {
  .parrafo-quienes-somos {
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .parrafo-quienes-somos {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 100px;
  }
}

.contenedor-imagenes-dos {
  margin-top: 100px;
  background-color: #fb873a;
  padding: 100px;
}
.contenedor-imagenes-dos img {
  width: 350px;
  margin-left: 5px;
}
@media only screen and (max-width: 513px) {
  .contenedor-imagenes-dos img {
    width: 300px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-imagenes-dos img {
    width: 350px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 513px) {
  .contenedor-imagenes-dos {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .contenedor-imagenes-dos {
    display: flex;
    flex-direction: column;
  }
}

.youtube-video-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}
@media only screen and (max-width: 513px) {
  .youtube-video-2 {
    display: none;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .youtube-video-2 {
    display: none;
  }
}

/*------------------------- Locales ------------------------*/
.contenedor-locales {
  margin-bottom: 150px;
}

.titulo-locales {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin-left: 55px;
  margin-right: 180px;
  margin-top: 60px;
  margin-bottom: 15px;
  padding: 15px;
  letter-spacing: 3px;
  color: #2052BB;
}
@media only screen and (max-width: 513px) {
  .titulo-locales {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .titulo-locales {
    margin-left: 70px;
    margin-right: 60px;
    margin-top: 50px;
  }
}

.item-locales {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}
.item-locales .imagen-local {
  width: 700px;
  margin-left: 70px;
}
@media only screen and (max-width: 513px) {
  .item-locales .imagen-local {
    width: 400px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .item-locales .imagen-local {
    width: 650px;
    margin-left: 70px;
    margin-bottom: 20px;
  }
}
.item-locales .mapa {
  width: 450px;
  margin-left: 40px;
}
@media only screen and (max-width: 513px) {
  .item-locales .mapa {
    width: 400px;
    margin-left: 50px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .item-locales .mapa {
    width: 650px;
    margin-left: 70px;
    margin-bottom: 20px;
  }
}
.item-locales .parrafo-direccion {
  margin-left: 40px;
  margin-top: 15px;
  color: #2052BB;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 3px;
}
@media only screen and (max-width: 513px) {
  .item-locales .parrafo-direccion {
    margin-left: 50px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .item-locales .parrafo-direccion {
    margin-left: 70px;
    margin-bottom: 20px;
  }
}
.item-locales .parrafo-horario {
  font-size: 15px;
  font-weight: 200;
  margin-left: 40px;
}
@media only screen and (max-width: 513px) {
  .item-locales .parrafo-horario {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .item-locales .parrafo-horario {
    margin-left: 70px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 513px) {
  .item-locales {
    flex-direction: column;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .item-locales {
    flex-direction: column;
  }
}

/*------------------------- Contacto ------------------------*/
.formulario-contacto .titulo-contacto {
  /* CONTACTANOS*/
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 700;
}
.formulario-contacto .nombre {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  margin-left: 350px;
  margin-right: 350px;
  padding: 10px;
  border: dotted #2052BB 1px;
}
@media only screen and (max-width: 513px) {
  .formulario-contacto .nombre {
    margin-left: 90px;
    margin-right: 90px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 900px) {
  .formulario-contacto .nombre {
    margin-left: 150px;
    margin-right: 150px;
  }
}
.formulario-contacto .mail {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  margin-left: 350px;
  margin-right: 350px;
  padding: 10px;
  border: dotted #2052BB 1px;
}
@media only screen and (max-width: 513px) {
  .formulario-contacto .mail {
    margin-left: 90px;
    margin-right: 90px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 900px) {
  .formulario-contacto .mail {
    margin-left: 150px;
    margin-right: 150px;
  }
}
.formulario-contacto .mensaje {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  margin-left: 350px;
  margin-right: 350px;
  padding-bottom: 150px;
  padding-left: 10px;
  padding-top: 10px;
  border: dotted #2052BB 1px;
}
@media only screen and (max-width: 513px) {
  .formulario-contacto .mensaje {
    margin-left: 90px;
    margin-right: 90px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 900px) {
  .formulario-contacto .mensaje {
    margin-left: 150px;
    margin-right: 150px;
  }
}
.formulario-contacto .boton-enviar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.formulario-contacto .boton-enviar img {
  width: 100px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
  font-family: "Raleway", sans-serif;
}

/*-------NavBar MOBILE Bootstrap------*/
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .navbar-bootstrap {
    display: none;
  }
}
@media only screen and (min-width: 961px) {
  .navbar-bootstrap {
    display: none;
  }
}

/*------------Comienzo del Header---------*/
.header-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  background-color: white;
}

.header-logo {
  width: 100px;
  height: 100px;
}

.elementos-encabezado {
  width: 20px;
  margin-left: 20px;
  margin-right: 30px;
}

/*------------Comienzo del Nav---------*/
.nav-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  background-color: #2052BB;
  padding: 15px;
  margin-bottom: 0;
}
.nav-menu li {
  margin-right: 30px;
}
.nav-menu li a:hover {
  color: #FF6602;
}
.nav-menu .titulo-mobile {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FAEFE6;
  letter-spacing: 3px;
  line-height: 22px;
  margin-left: 20px;
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .nav-menu .titulo-mobile {
    display: none;
  }
}
@media only screen and (min-width: 961px) {
  .nav-menu .titulo-mobile {
    display: none;
  }
}
.nav-menu .color-menu {
  text-decoration: none;
  color: #FAEFE6;
  letter-spacing: 3px;
}
@media only screen and (max-width: 513px) {
  .nav-menu .color-menu {
    display: none;
  }
}

/*----------------------Footer------------------*/
.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2052BB;
  letter-spacing: 2px;
}
.footer .footer-info-titulo {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: black;
}
@media only screen and (max-width: 513px) {
  .footer .footer-info-titulo {
    margin-top: 40px;
  }
}
.footer .footer-info {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 2px;
  color: white;
  text-decoration: none;
  line-height: 23px;
}
.footer .suscribirse-boton {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 15px;
  font-weight: 700;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  font-size: 12px;
  text-decoration: none;
}
@media only screen and (max-width: 513px) {
  .footer .suscribirse-boton {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .footer .suscribirse-boton {
    margin-left: 0px;
    margin-right: 350px;
  }
}
@media only screen and (max-width: 513px) {
  .footer {
    flex-direction: column;
  }
}
@media only screen and (min-width: 514px) and (max-width: 960px) {
  .footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
