@import '../base/variables';
@import '../base/listas';

/*------------------------- Contacto ------------------------*/

.titulo-contacto{
    display: flex ;
    justify-content: center;
    margin-top:100px;
    margin-bottom: 50px;
    font-size: nth($font-size, 10);
    font-weight: nth($font-weight, 5);
}

.nombre-mail{
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.nombre{
    margin-right: 50px;
    border: dotted nth($colores, 1) 1px;
    padding: 10px;
    padding-right: 250px;
}
.mail{
    margin-left: 10px;
    border: dotted nth($colores, 1) 1px;
    padding: 10px;
    padding-right: 300px;
}

.mensaje{
    display: flex;
    justify-content: start;
    margin-left: 345px;
    margin-right: 345px;
    border: dotted nth($colores, 1) 1px;
    padding-right: 300px;
    padding: 10px;
}

.boton-enviar{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.boton-enviar img{
    width: 100px;
}
