@import '../base/variables';
@import '../base/listas';

/*------------------------- Contacto ------------------------*/

.titulo-contacto{
    @extend %flex;
    margin-top:100px;
    margin-bottom: 50px;
    font-size: nth($font-size, 10);
    font-weight: nth($font-weight, 5);
}

.nombre-mail{
    @include flex (flex, center);
    margin-bottom: 50px;
}

.nombre{
    margin-right: 50px;
    border: dotted nth($colores, 1) 1px;
    padding: $padding;
    padding-right: 250px;
}
.mail{
    margin-left: 10px;
    border: dotted nth($colores, 1) 1px;
    padding: $padding;
    padding-right: 300px;
}

.mensaje{
    @include flex (flex, start);
    margin-left: 345px;
    margin-right: 345px;
    border: dotted nth($colores, 1) 1px;
    padding-right: 300px;
    padding: $padding;
}

.boton-enviar{
    @include flex (flex, center);
    margin-top: 100px;
    margin-bottom: 100px;
}

.boton-enviar img{
    width: 100px;
}
