@import '../base/variables';

/*----------------------Footer------------------*/

.footer{
    @include flex (flex, space-between);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: nth($colores, 1);
    letter-spacing: nth($letter-spacing, 2);
}

.suscribirse-boton{
    @include flex (flex, center);
    background-color: map-get($boton, bg-boton);
    color: map-get($boton, color-text);
    padding: 15px;
    font-weight: nth($font-weight, 5);
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    font-size: nth($font-size, 6);
    text-decoration: none;
}

.footer-info-titulo{
    font-weight: nth($font-weight, 5);
    font-size: nth($font-size, 3);
    text-decoration: none;
    letter-spacing: nth($letter-spacing, 3);
    margin-bottom: 10px;
    color: black;
}

.footer-info{
    font-size: nth($font-size, 2);
    font-weight: nth($font-weight, 3);
    margin-top: 2px;
    color: white;
    text-decoration: none;
    line-height: $line-height;

}
/* Media Queries para MOBILE */
@media only screen and (max-width: 513px){
    .footer{
        flex-direction: column;
    }
    .footer-info-titulo{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .footer-info p{
        margin-bottom: 10px;

    }

}

/* Media Queries TABLET */
@media only screen and (min-width: 514px) and (max-width:960px){
  
}

/* Media Queries DESKTOP */
@media only screen and (min-width: 961px){
  

} 