@import '../base/variables';
@import '../base/listas';

.header-contenedor{
    @include flexbox (flex, space-between, center);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: white;
}

.header-logo{
    width: 100px;
    height: 100px;  
}

.elementos-encabezado{
    width: 20px;
}

.nav-menu{
    @include flexbox (flex, start, center);
    list-style: none;
    font-size: nth($font-size, 2);
    font-weight: nth($font-weight, 5);
    text-transform: uppercase;
    list-style: $list-style;
    text-decoration: none;
    background-color: nth($colores, 1);
    padding: 15px;
    li{
        margin-right: 30px;
    }
    li a:hover{
        color: nth($colores, 5);
    }
}

.color-menu{
    text-decoration: none;
    color: nth($colores, 7);
    letter-spacing: 3px;

}

/*--------- Media Queries para MOBILE ---------*/

@media only screen and (max-width: 513px){
    
    .titulo-mobile {
        font-size: nth($font-size, 2);
        font-weight: nth($font-weight, 5);
        text-transform: uppercase;
        color: nth($colores, 7);
        letter-spacing: 3px;
        line-height: 22px;
        margin-left: 20px;
    }
    .color-menu{
        display: none;
    }
    .navbar{
        font-family: 'Raleway', sans-serif;
    }
    
}

/*--------- Media Queries TABLET ---------*/

@media only screen and (min-width: 514px) and (max-width:960px){
    .navbar{
        display: none;
    }
    .titulo-mobile{
        display:none;
    }
}

/* Media Queries DESKTOP */
@media only screen and (min-width: 961px){
    .titulo-mobile{
        display:none;
    }
    .navbar{
        display: none;
    }
}    

