@import '../base/variables';
@import '../base/listas';


/*-------NavBar MOBILE Bootstrap------*/
.navbar-bootstrap{
    @media only screen and (min-width: 514px) and (max-width:960px){
        display: none;
    }
    @media only screen and (min-width: 961px){
        display: none;
    }

}

/*------------Comienzo del Header---------*/

.header-contenedor{
    @include flexbox (flex, space-between, center);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: white;
}

.header-logo{
    width: 100px;
    height: 100px;  
}

.elementos-encabezado{
    width: 20px;
    margin-left: 20px;
    margin-right: 30px;
}

/*------------Comienzo del Nav---------*/

.nav-menu{
    @include flexbox (flex, start, center);
    list-style: none;
    font-size: nth($font-size, 2);
    font-weight: nth($font-weight, 5);
    text-transform: uppercase;
    list-style: $list-style;
    text-decoration: none;
    background-color: nth($colores, 1);
    padding: 15px;
    margin-bottom: 0;
    li{
        margin-right: 30px;
    }
    li a:hover{
        color: nth($colores, 5);
    }

    .titulo-mobile {
        font-family: 'Raleway', sans-serif;
        font-size: nth($font-size, 2);
        font-weight: nth($font-weight, 5);
        text-transform: uppercase;
        color: nth($colores, 7);
        letter-spacing: 3px;
        line-height: 22px;
        margin-left: 20px;
        @media only screen and (min-width: 514px) and (max-width:960px){
            display: none;
        }
        @media only screen and (min-width: 961px){
            display: none;
        }
    }

    .color-menu{
        text-decoration: none;
        color: nth($colores, 7);
        letter-spacing: 3px;
        @media only screen and (max-width: 513px){
            display: none;
        }
    }
}       
