@import '../base/listas';

/*----------------------Carrusel de Imagenes-------------*/

.deslizador{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.imagen-carrusel{
    width: 100%;
}

.carrusel{
    display: flex;
    padding: 0px;
    width: 400%;
    animation: carrusel 15s linear infinite alternate; 
    li{
        width: 100%;
    }
}

@keyframes carrusel{
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}

    25%{  margin-left: -100%;}
    45%{  margin-left: -100%;}

    50%{  margin-left: -200%;}
    70%{  margin-left: -200%;}

    75%{  margin-left: -300%;}
    100%{  margin-left: -300%;}
}

/*-----------Sección de Acceso al Shop---------*/

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    column-gap: 60px;
}

.primer-item{
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: start;
    img{
        width: 450px;
    }
}

.segundo-item{
    margin-left: 35px;
    letter-spacing: nth($letter-spacing, 2);
}

.titulo-item{
    font-weight: nth($font-weight, 6);
    font-size: nth($font-size, 11);
}

.parrafo-segundo-item{
    font-size: nth($font-size, 9);
    margin-top: 20px;
    line-height: 30px;
}

.tercer-item{
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: end;
    img{
        width: 450px;
    }
}

.cuarto-item{
    font-size: nth($font-size, 9);
    line-height: 30px;
    letter-spacing: nth($letter-spacing, 2);
}


/* Media Queries para MOBILE */

@media only screen and (max-width: 513px){
    .grid-container{
        display:flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .primer-item{
        display: flex;
        justify-content: center;
        img{
            width: 470px;
        }
    }
    .segundo-item{
        margin-left: 7px;
        margin-top: 40px;
    }
    .parrafo-segundo-item{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 35px;
        font-size: 20px;
        font-weight: 450;
        
    }
    .tercer-item{
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
        img{
            width: 470px;
        }
    }
    .cuarto-item{
        font-size: nth($font-size, 4);
        line-height: 27px;
        letter-spacing: nth($letter-spacing, 2);
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .titulo-item{
        font-weight: 800;
        font-size: 45px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
    
/* Media Queries TABLET */

@media only screen and (min-width: 514px) and (max-width: 960px){
}

/* Media Queries DESKTOP */
@media only screen and (min-width: 961px){

}    


/*---------------------- Carrusel de Productos------------------*/

.carrusel-productos{
    @include flexbox (flex, space-between, center);
    padding-bottom: 6px;
    img{  
        width: 280px;
        height: 280px;
    }
}

/* Media Queries para MOBILE */
@media only screen and (max-width: 513px){
    .carrusel-productos{
        display:none;
    }
}

/* Media Queries TABLET */
@media only screen and (min-width: 514px) and (max-width:960px){
    .carrousel-bootstrap{
        display:none;
    }
}

/* Media Queries DESKTOP */
@media only screen and (min-width: 961px){
    .carrousel-bootstrap{
        display:none;
    }

} 

/*----------------------Nuevos Ingresos------------------*/

.contenedor-titulo{
    @extend %flex;
    letter-spacing: nth($letter-spacing, 3);
    background-color: nth($colores, 1);
    color: white;
    padding-top: 17px;
    padding-bottom: 10px;
    h4{
        font-size: nth($font-size, 4);
        font-weight: nth($font-weight, 5);
    }
}

.contenedor-articulos{
    @extend %flex;
    background-color: nth($colores, 2);
    padding-top: 100px;
    padding-bottom: 30px;
    color: white;
    font-size: nth($font-size, 2);
}

.imagen-producto{
    width: 300px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

.nombre-articulo{
    font-size: nth($font-size, 3);
    font-weight: nth($font-weight, 5);
    letter-spacing: nth($letter-spacing, 2);
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    color: black;
}

.precio-articulo{
    font-size: nth($font-size, 2);
    font-weight: nth($font-weight, 3);
    letter-spacing: nth($letter-spacing, 2);
    text-align: center;
    color: nth($colores, 6);
}

.ver-todos{
    font-weight: nth($font-weight, 4);
    font-size: nth($font-size, 4);
    text-align: center;
    background-color: nth($colores, 2);
    letter-spacing: nth($letter-spacing, 2);
    color: white;
    text-decoration: none;
    padding-bottom: 90px;
    img{
        width: 140px;
        height: auto;
    }
}

/* Media Queries para MOBILE */
@media only screen and (max-width: 513px) {
    .contenedor-articulos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagen-producto{
        width: 280px;
        height: auto;
    }
    .nombre-articulo{
        margin-bottom: 5px;
    }
    .precio-articulo{
        margin-bottom: 35px;
    }
}
/* Media Queries TABLET */
@media only screen and (min-width: 514px) and (max-width:960px){
    .contenedor-articulos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagen-producto{
        width: 400px;
        height: auto;
        margin-right: 20px;
        margin-left: 20px;
    }
}
/* Media Queries DESKTOP */
@media only screen and (min-width: 961px){
  
} 


/*----------------------Carrusel Instagram------------------*/

.carrusel-titulo{
    @extend %flex;
    letter-spacing: nth($letter-spacing, 3);
    margin-top: 13px;
    font-weight: nth($font-weight, 4);
    font-size: nth($font-size, 1);
    text-align: center;
    color: nth($colores, 1);

}
.contenedor-carrusel{
    @extend %flex;
    width: 100%;
}

.item-carrusel{
    width: 355px;
    height: 355px;
}

/* Media Queries para MOBILE */
@media only screen and (max-width: 513px){
    .separador-instagram{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item-carrusel{
        width: 128px;
        height: 128px;
    }
}

/* Media Queries TABLET */
@media only screen and (min-width: 514px) and (max-width:960px){
  
}

/* Media Queries DESKTOP */
@media only screen and (min-width: 961px){
  

} 

/*----------------------Enlace a YouTube------------------*/

.youtube{
    @extend %flex;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 100px;
}

/* Media Queries para MOBILE */
@media only screen and (max-width: 513px){
    .youtube{
        display: none;
    }
}

/* Media Queries TABLET */
@media only screen and (min-width: 514px) and (max-width:960px){
  
}

/* Media Queries DESKTOP */
@media only screen and (min-width: 961px){
  

} 