@import '../base/variables';
@import '../base/listas';


/*------------------------- Locales ------------------------*/

.contenedor-locales{
    margin-bottom: 150px;
}
.titulo-locales{
    font-size: nth($font-size, 9);
    font-weight: nth($font-weight, 6);
    color: white;
    margin-left: 55px; 
    margin-right: 180px;
    margin-top: 60px;
    margin-bottom: 15px;
    padding: 15px;
    letter-spacing: nth($letter-spacing, 3);
    color: nth($colores, 1);
    @media only screen and (max-width: 513px){
        margin-left: 50px; 
        margin-right: 50px;
        margin-top: 50px;
    }
    @media only screen and (min-width: 514px) and (max-width: 960px){
        margin-left: 70px; 
        margin-right: 60px;
        margin-top: 50px;
    }
}

.item-locales{
    @include flex (flex, start);
    margin-bottom: 10px;
    .imagen-local{
        width: 700px;
        margin-left: 70px; 
        @media only screen and (max-width: 513px){
        width: 400px;
        margin-left: 50px;
        margin-bottom: 20px;
        }
        @media only screen and (min-width: 514px) and (max-width: 960px){
        width: 650px;
        margin-left: 70px;
        margin-bottom: 20px;
        }
    }
    .mapa{
        width: 450px;
        margin-left: $margin-left;
        @media only screen and (max-width: 513px){
            width: 400px;
            margin-left: 50px; 
        }
        @media only screen and (min-width: 514px) and (max-width: 960px){
            width: 650px;
            margin-left: 70px;
            margin-bottom: 20px;
            }
    }
    .parrafo-direccion{
        margin-left: $margin-left;
        margin-top: 15px;
        color: nth($colores, 1);
        font-weight: nth($font-weight, 4);
        font-size: nth($font-size, 3);
        letter-spacing: nth($letter-spacing, 3);
        @media only screen and (max-width: 513px){
            margin-left: 50px; 
            margin-top: 20px;   
        }
        @media only screen and (min-width: 514px) and (max-width: 960px){
            margin-left: 70px;
            margin-bottom: 20px;
            }
    }
    
    .parrafo-horario{
        font-size: nth($font-size, 8);
        font-weight: nth($font-weight, 1);
        margin-left: $margin-left;
        @media only screen and (max-width: 513px){
            margin-left: 50px; 
        }
        @media only screen and (min-width: 514px) and (max-width: 960px){
            margin-left: 70px;
            margin-bottom: 10px;
        }
    }
    @media only screen and (max-width: 513px){
        flex-direction: column;
    }
    @media only screen and (min-width: 514px) and (max-width: 960px){
        flex-direction: column;
    }
}





