/* listas */

$colores:
#2052BB,
#F7DFE2,
#f2b4bb,
#50ABA2,
#FF6602,
#BF2626,
#FAEFE6,
#FF6600,
#fb873a;

$font-size:
0.7rem,
0.8rem,
0.9rem,
1rem,
1.1rem,
12px,
13px
14px,
15px,
20px,
25px,
50px;

$font-weight:
200,
300,
500,
600,
700,
800;

$letter-spacing:
1px,
2px,
3px;


